* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;

  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #713494;
  background-color: transparent;
  color: white;

  display: flex;
  align-items:center;
  font-family: "Montserrat", sans-serif;

}